body {
    background-color: aqua;
    padding: 10px;
    display: block;
    position: relative;
    background: url('http://pre.caibeike.net/crm/static/ace/css/images/meteorshower2.jpg') repeat #394557;
}